<header class="header">
	<div class="header-main">
		<div class="container">
			<div class="header-logo">
				<a href="/"><img src="img/svg/logo.svg" alt=""></a>
			</div>
			<ul class="header-menu">
				<li>
					<a href="javascript:;" class="js-header-catalog">
						<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M27 3L14 25L1 3H27ZM14 23.03L19.34 14H8.66L14 23.03ZM14.5 13H19.93L25.25 4H14.5V13ZM8.07 13H13.5V4H2.75L8.07 13Z"/>
						</svg>
						<span>Каталог</span>
					</a>
				</li>
				<li>
					<a href="javascript:;" class="js-header-drawer" data-drawer="buyers">
						<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M20 14L26 25H2L8 14L2 3H26L20 14ZM14.55 24H24.32L19.43 15.04L14.55 24ZM3.68 24H13.45L8.57 15.04L3.68 24ZM9.14 14L14 22.91L18.86 14L14 5.09L9.14 14ZM8.57 12.96L13.45 4H3.68L8.56 12.96H8.57ZM19.43 12.96L24.32 4H14.55L19.43 12.96Z"/>
						</svg>
						<span>Покупателям</span>
					</a>
				</li>
				<li>
					<a href="#">
						<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M21.9436 1.71773L14.713 8.94557L19.0513 13.2823L26.282 6.05443L27 6.77216L19.7694 14L27 21.2278L26.282 21.9456L19.0513 14.7177L14.713 19.0544L21.9436 26.2823L21.2256 27L13.9949 19.7722L6.76429 27L6.04629 26.2823L13.2769 19.0544L8.93855 14.7177L1.71801 21.9355L1 21.2177L8.23065 13.9899L1 6.77216L1.71801 6.05443L8.94866 13.2823L13.287 8.94557L6.0564 1.71773L6.77441 1L14.0051 8.22784L21.2256 1L21.9436 1.71773ZM9.65655 13.9899L13.9949 18.3266L18.3333 13.9899L13.9949 9.65319L9.65655 13.9899Z"/>
						</svg>
						<span>Бренд</span>
					</a>
				</li>
			</ul>
			<ul class="header-nav">
				<li>
					<a href="#">
						<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M14 25L1 12L6 3H11L14 5.87L17 3H22L27 12L14 25ZM2.24 11.83L14 23.59L25.76 11.83L21.41 4H17.4L14 7.25L10.6 4H6.59L2.24 11.83Z"/>
						</svg>
					</a>
				</li>
				<li>
					<a href="#">
						<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M20.18 9L18 3H10L7.82 9H2V25H26V9H20.18ZM10.7 4H17.3L19.12 9H8.88L10.7 4ZM25 22.25V24H3V10H25V22.25Z"/>
						</svg>
						<span class="header-nav__cart">3</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="header-catalog">
		<div class="container">
			<div class="header-catalog__menu">
				<a href="#" class="title-sm header-catalog__title">Платья</a>
				<ul class="header-catalog__nav">
					<li><a href="#">Повседневные</a></li>
					<li><a href="#">Вечерние</a></li>
					<li><a href="#">Летние</a></li>
				</ul>
			</div>
			<div class="header-catalog__menu">
				<a href="#" class="title-sm header-catalog__title">Одежда</a>
				<ul class="header-catalog__nav">
					<li><a href="#">Верхняя одежда</a></li>
					<li><a href="#">Футболки</a></li>
					<li><a href="#">Жакеты и блузки</a></li>
					<li><a href="#">Юбки и брюки</a></li>
				</ul>
			</div>
			<div class="header-catalog__menu">
				<a href="#" class="title-sm header-catalog__title">Аксессуары</a>
				<ul class="header-catalog__nav">
					<li><a href="#">Аксессуары</a></li>
					<li><a href="#">Артефакты</a></li>
				</ul>
			</div>
			<div class="header-catalog__menu">
				<a href="#" class="title-sm header-catalog__title">Распродажа</a>
				<ul class="header-catalog__nav">
					<li><a href="#">Платья</a></li>
					<li><a href="#">Одежда</a></li>
					<li><a href="#">Аксессуары</a></li>
				</ul>
			</div>
			<div class="header-catalog__menu">
				<a href="#" class="title-sm header-catalog__title">Коллекции</a>
				<ul class="header-catalog__nav">
					<li><a href="#">Новинки Весна—Лето 2025</a></li>
					<li><a href="#">Летние платья 2024</a></li>
					<li><a href="#">Осень–Зима 2024</a></li>
				</ul>
			</div>
			<a href="#" class="header-catalog__more">
				<span>Весь каталог</span>
				<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M10.0963 8.89796C7.28313 8.89796 5 11.1837 5 14C5 16.8163 7.28313 19.102 10.0963 19.102C12.9094 19.102 15.1925 16.8163 15.1925 14C15.1925 11.1837 12.9094 8.89796 10.0963 8.89796ZM10.0963 18.0816C7.84371 18.0816 6.01925 16.2551 6.01925 14C6.01925 11.7449 7.84371 9.91837 10.0963 9.91837C12.3488 9.91837 14.1733 11.7449 14.1733 14C14.1733 16.2551 12.3488 18.0816 10.0963 18.0816ZM23 14L15.6104 25L14.7644 24.4286L21.7667 14L14.7644 3.57143L15.6104 3L23 14Z"/>
				</svg>
			</a>
		</div>
	</div>
	<div class="header-drawer" data-drawer="buyers">
		<div class="header-drawer__close"></div>
		<div class="title-sm header-drawer__title">Покупателям</div>
		<ul class="header-drawer__list">
			<li>
				<span><a href="#">Доставка</a></span>
				<p>В пределах МКАД есть доставка курьером. По России и в Страна1, Страна2, СтранаN доставляем Почтой России или СДЭК.</p>
			</li>
			<li>
				<span><a href="#">Обмен и возврат</a></span>
				<p>Если вещь вам не подошла, вы можете вернуть её в течение 14 дней после получения.</p>
			</li>
			<li>
				<span><a href="javascript:;" class="js-header-drawer" data-drawer="sizes">Размеры</a></span>
				<p>От 42 до 48.</p>
			</li>
		</ul>
		<div class="title-sm header-drawer__title">Контакты</div>
		<ul class="header-drawer__list">
			<li>
				<span>ИП Якубович Ольга Владимировна</span>
				<p>ИНН 772973814890</p>
				<p>ОГРНИП 314774604200431</p>
			</li>
			<li>
				<span><a href="tel:8 (985) 382-38-25">8 (985) 382-38-25</a></span>
				<p>Ежедневно с 12:00 до 21:00</p>
			</li>
			<li>
				<span><a href="mailto:order@yakubowitch.com">order@yakubowitch.com</a></span>
				<p>По всем вопросам</p>
			</li>
			<li>
				<span><a href="https://yandex.ru/maps/-/CHX86U7a" target="_blank">Москва, Новинский бульвар, 12</a></span>
				<p>Построить маршрут</p>
			</li>
		</ul>
		<ul class="header-drawer__footer">
			<li><a href="#">Оферта</a></li>
			<li><a href="#">Политика конфиденциальности</a></li>
		</ul>
	</div>
	<div class="header-drawer" data-drawer="sizes">
		<div class="header-drawer__close"></div>
		<div class="title-sm header-drawer__title">Таблица размеров</div>
		<div class="header-drawer__text">С помощью этой таблицы соотношения размеров вы сможете точнее определить подходящий вам размер. Но, разумеется, мы принимаем заказы и по индивидуальным меркам.</div>
		<div class="header-drawer__table">
			<div class="header-drawer__table-row">
				<div class="header-drawer__table-col">INT</div>
				<div class="header-drawer__table-col">XS</div>
				<div class="header-drawer__table-col">S</div>
				<div class="header-drawer__table-col">M</div>
				<div class="header-drawer__table-col">L</div>
			</div>
			<div class="header-drawer__table-row">
				<div class="header-drawer__table-col">RU</div>
				<div class="header-drawer__table-col">42</div>
				<div class="header-drawer__table-col">44</div>
				<div class="header-drawer__table-col">46</div>
				<div class="header-drawer__table-col">48</div>
			</div>
			<div class="header-drawer__table-row">
				<div class="header-drawer__table-col">IT</div>
				<div class="header-drawer__table-col">40</div>
				<div class="header-drawer__table-col">42</div>
				<div class="header-drawer__table-col">44</div>
				<div class="header-drawer__table-col">46</div>
			</div>
			<div class="header-drawer__table-row">
				<div class="header-drawer__table-col">EU</div>
				<div class="header-drawer__table-col">38</div>
				<div class="header-drawer__table-col">40</div>
				<div class="header-drawer__table-col">42</div>
				<div class="header-drawer__table-col">44</div>
			</div>
			<div class="header-drawer__table-row">
				<div class="header-drawer__table-col">FR</div>
				<div class="header-drawer__table-col">36</div>
				<div class="header-drawer__table-col">38</div>
				<div class="header-drawer__table-col">40</div>
				<div class="header-drawer__table-col">42</div>
			</div>
			<div class="header-drawer__table-row">
				<div class="header-drawer__table-col">GR</div>
				<div class="header-drawer__table-col">34</div>
				<div class="header-drawer__table-col">36</div>
				<div class="header-drawer__table-col">38</div>
				<div class="header-drawer__table-col">40</div>
			</div>
			<div class="header-drawer__table-row">
				<div class="header-drawer__table-col">UK</div>
				<div class="header-drawer__table-col">8</div>
				<div class="header-drawer__table-col">10</div>
				<div class="header-drawer__table-col">12</div>
				<div class="header-drawer__table-col">14</div>
			</div>
			<div class="header-drawer__table-row">
				<div class="header-drawer__table-col">US</div>
				<div class="header-drawer__table-col">4</div>
				<div class="header-drawer__table-col">6</div>
				<div class="header-drawer__table-col">8</div>
				<div class="header-drawer__table-col">10</div>
			</div>
		</div>
		<a href="#" class="header-drawer__btn">Пошив на заказ</a>
	</div>
</header>