{% set site_title = site_title | default('Title') %}
<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta name="language" content="Russian">
		<meta name="format-detection" content="telephone=no">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<title>{{ site_title }}</title>
		<script>
            const meta = document.querySelector('meta[name="viewport"]');
            meta.setAttribute('content', `user-scalable=no, width=${screen.width <= 360 ? 360 : 'device-width'}`);
        </script>
		<link rel="preload" href="./fonts/Circe/Circe-Light.woff2" as="font" type="font/woff2" crossorigin="anonymous">
		<link rel="preload" href="./fonts/Lithium/Lithium-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous">
		<link rel="stylesheet" href="./css/libs.css?cb">
		<link rel="stylesheet" href="./css/main.css?cb">
	</head>
	<body>

		<div class="wrapper">

			{% include 'components/_header.html' %}

			{% block content %}{% endblock %}

			{% include 'components/_footer.html' %}

		</div>

		<script defer src="./js/libs.js?cb"></script>
		<script defer src="./js/main.js?cb"></script>
	</body>
</html>