<a href="#" class="catalog-card">
	<div class="catalog-card__pic" data-images="img/catalog-item-01.jpg,img/catalog-item-02.jpg,img/catalog-item-03.jpg">
		<img src="img/catalog-item-01.jpg" alt="" loading="lazy" class="catalog-card__image">
		<ul class="catalog-card__badges">
			<li class="new">Новинка</li>
		</ul>
		<div class="catalog-card__favorite">
			<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M10.7988 3.5L13.6543 6.23047L14 6.56152L14.3457 6.23047L17.2012 3.5H21.7051L26.3789 11.9131L14 24.293L1.62012 11.9131L6.29492 3.5H10.7988Z" />
			</svg>
		</div>
	</div>
	<div class="catalog-card__info">
		<div class="title-sm catalog-card__title">Платье Wednesday</div>
		<div class="title-sm catalog-card__price">118 800</div>
	</div>
</a>