.empty
	padding: var(--spacing-md) 0 var(--spacing-xl)
	.container
		@include flexbox
		align-items: center
		flex-direction: column
	&-image
		margin-bottom: var(--spacing-md)
	&-title
		text-align: center
	&-text
		margin-top: 20px
		text-align: center
		line-height: var(--line-height)
		@include flexbox
		align-items: center
		gap: 8px
		svg
			path
				fill: var(--color-black)
	.btn
		margin-top: var(--spacing-xs)
	&-invert
		background: var(--color-black)
		color: var(--color-white)
