{% extends 'components/_layout.html' %}
{% set site_title = 'Коллекция' %}

{% block content %}

<section class="about-collections">
	<div class="container">
		<h2 class="title">Fall—Winter 2024</h2>
		<div class="about-collections__grid">
			<a href="img/about-collection.jpg" data-fancybox="collection" class="about-collections__item about-collections__item-auto">
				<img src="img/about-collection.jpg" alt="" loading="lazy">
			</a>
			<a href="img/about-collection.jpg" data-fancybox="collection" class="about-collections__item about-collections__item-auto">
				<img src="img/about-collection.jpg" alt="" loading="lazy">
			</a>
			<a href="img/about-collection.jpg" data-fancybox="collection" class="about-collections__item about-collections__item-auto">
				<img src="img/about-collection.jpg" alt="" loading="lazy">
			</a>
			<a href="img/about-collection.jpg" data-fancybox="collection" class="about-collections__item about-collections__item-auto">
				<img src="img/about-collection.jpg" alt="" loading="lazy">
			</a>
			<a href="img/about-collection.jpg" data-fancybox="collection" class="about-collections__item about-collections__item-auto">
				<img src="img/about-collection.jpg" alt="" loading="lazy">
			</a>
		</div>
	</div>
</section>

{% endblock %}