{% extends 'components/_layout.html' %}
{% set site_title = 'Доставка' %}

{% block content %}

<section class="shipping">
	<div class="container">
		<div class="shipping-group">
			<div class="shipping-group__head">
				<h2 class="title shipping-title">Доставка</h2>
				<p class="shipping-desc">Мы верим, что путешествие вашего идеального платья должно быть таким же безупречным, как и оно само. Наш интернет-бутик создан с любовью к деталям, чтобы ваше виртуальное шоппинг-приключение было столь же изысканным, как примерка в роскошном салоне.</p>
			</div>
			<div class="shipping-delivery">
				<div class="shipping-delivery__item">
					<h3 class="title-sm shipping-delivery__title">В пределах МКАД</h3>
					<p class="shipping-delivery__text">Ваше платье прибудет к вам с персональным курьером. Можно организовать примерку.</p>
					<ul class="shipping-delivery__price">
						<li>
							<p>500 ₽</p>
							<span>Без примерки</span>
						</li>
						<li>
							<p>1 500 ₽</p>
							<span>С примеркой</span>
						</li>
					</ul>
				</div>
				<div class="shipping-delivery__item">
					<h3 class="title-sm shipping-delivery__title">В регионы и зарубеж</h3>
					<p class="shipping-delivery__text">Мы организуем доставку почтой. Вы получите электронное письмо с трек-номером посылки.</p>
					<ul class="shipping-delivery__price">
						<li>
							<p>1 000 ₽</p>
							<span>По России</span>
						</li>
						<li>
							<p>2 800 ₽</p>
							<span>Международная</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="shipping-group shipping-group-sm">
			<div class="shipping-group__head">
				<h2 class="title shipping-title">Нужна помощь?</h2>
				<p class="shipping-desc">Мы стремимся сделать процесс доставки и возврата максимально простым и удобным для вас.</p>
			</div>
			<div class="shipping-contacts">
				<h3 class="title-sm">Контакты</h3>
				<div class="shipping-contacts__item">
					<p><a href="tel:8 (985) 382-38-25">8 (985) 382-38-25</a></p>
					<span>Ежедневно с 12:00 до 21:00</span>
				</div>
				<div class="shipping-contacts__item">
					<p><a href="mailto:order@yakubowitch.com">order@yakubowitch.com</a></p>
					<span>По всем вопросам</span>
				</div>
				<div class="shipping-contacts__item">
					<p><a href="https://yandex.ru/maps/-/CHX86U7a" target="_blank">Москва, Новинский бульвар, 12</a></p>
					<span>Построить маршрут</span>
				</div>
			</div>
		</div>
		<div class="shipping-group">
			<div class="shipping-group__head">
				<h2 class="title shipping-title">Обмен и возврат</h2>
				<p class="shipping-desc">Платья YAKUBoWITCH идеально садятся на любую фигуру. Однако, если вещь вам не подошла, вы можете вернуть её в течение 14 дней после получения.</p>
			</div>
			<div class="shipping-exchange">
				<h3 class="title-sm">Условия возврата</h3>
				<ul>
					<li>Товар должен быть в первоначальном виде</li>
					<li>Бирка не нарушена</li>
					<li>Оригинальная упаковка цела</li>
				</ul>
			</div>
			<div class="shipping-exchange">
				<h3 class="title-sm">Процесс возврата в Москве</h3>
				<ul>
					<li>Принесите товар в магазин.</li>
					<li>Предъявите паспорт для заполнения заявления.</li>
					<li>Получите возврат средств: наличными — сразу, на карту — в течение нескольких дней.</li>
				</ul>
			</div>
			<div class="shipping-exchange">
				<h3 class="title-sm">Возврат из регионов и из-за рубежа</h3>
				<ul>
					<li>Заполните заявление на возврат — вложено в каждую посылку </li>
					<li>Упакуйте товар в оригинальную упаковку.</li>
					<li>Поместите в почтовую коробку или пакет.</li>
					<li>Отправьте нам любой почтовой службой.<br> <span>Не наложенным платежом.</span></li>
					<li>Сохраните квитанцию об отправке.</li>
					<li>Ждите возврата средств на карту в течение нескольких дней после получения нами товара.</li>
				</ul>
			</div>
		</div>
	</div>
</section>

{% endblock %}