{% extends 'components/_layout.html' %}
{% set site_title = 'Доставка' %}

{% block content %}

<section class="shipping">
	<div class="container">
		<div class="shipping-col">
			<div class="shipping-group">
				<div class="shipping-group__head">
					<h2 class="title shipping-title">Доставка</h2>
					<p class="shipping-desc">Мы верим, что путешествие вашего идеального платья должно быть таким же безупречным, как и оно само. Наш интернет-бутик создан с любовью к деталям, чтобы ваше виртуальное шоппинг-приключение было столь же изысканным, как примерка в роскошном салоне.</p>
				</div>
				<div class="shipping-delivery">
					<div class="shipping-delivery__item">
						<h3 class="title-sm shipping-delivery__title">Для Москвы и Подмосковья</h3>
						<p class="shipping-delivery__text">Ваше платье прибудет к вам с персональным курьером.</p>
					</div>
					<div class="shipping-delivery__item">
						<h3 class="title-sm shipping-delivery__title">В регионах и за рубежом</h3>
						<p class="shipping-delivery__text">Мы организуем премиальную доставку почтой. Вы получите электронное письмо с трек-номером посылки и подробной информацией о ее содержимом.</p>
					</div>
					<div class="shipping-delivery__item">
						<h3 class="title-sm shipping-delivery__title">VIP-примерка в Москве</h3>
						<p class="shipping-delivery__text">Наша услуга доставки с примеркой позволит вам устроить собственное модное шоу прямо у себя дома. Выбирайте то, что заставляет ваше сердце биться чаще, а от остального мы избавим вас без лишних хлопот. После примерки вы либо оставляете вещи себе, либо, сохраняя все бирки на одежде, возвращаете ее курьеру.</p>
					</div>
					<div class="shipping-delivery__item">
						<h3 class="title-sm shipping-delivery__title">Персональное внимание</h3>
						<p class="shipping-delivery__text">Сразу после оформления заказа наш менеджер свяжется с вами, чтобы подтвердить детали и убедиться, что ваше новое платье прибудет к вам именно так, как вы мечтали.</p>
					</div>
					<div class="shipping-delivery__item">
						<h3 class="title-sm shipping-delivery__title">Стоимость доставки</h3>
						<ul class="shipping-delivery__price">
							<li>
								<span>Самовывоз</span><b>0 ₽</b>
								<p>Бесплатная примерка</p>
							</li>
							<li>
								<span>Доставка по Москве</span><b>500 ₽</b>
								<p>В пределах МКАД</p>
							</li>
							<li>
								<span>Доставка с примеркой</span><b>1 500 ₽</b>
								<p>В пределах МКАД</p>
							</li>
							<li>
								<span>Доставка</span><b>1000 ₽</b>
								<p>Почтой России или СДЭК</p>
							</li>
							<li>
								<span>Международная доставка</span><b>2 800 ₽</b>
								<p>Почтой России или СДЭК</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="shipping-group">
				<div class="shipping-group__head">
					<h2 class="title shipping-title">Обмен и возврат</h2>
					<p class="shipping-desc">Платья YAKUBoWITCH идеально садятся на любую фигуру. Однако, если вещь вам не подошла, вы можете вернуть её в течение 14 дней после получения.</p>
				</div>
				<div class="shipping-exchange">
					<h3 class="title-sm">Условия возврата</h3>
					<ul>
						<li>Товар должен быть в первоначальном виде</li>
						<li>Бирка не нарушена</li>
						<li>Оригинальная упаковка цела</li>
					</ul>
				</div>
				<div class="shipping-exchange">
					<h3 class="title-sm">Процесс возврата в Москве</h3>
					<ul>
						<li>Принесите товар в магазин.</li>
						<li>Предъявите паспорт для заполнения заявления.</li>
						<li>Получите возврат средств: наличными — сразу, на карту — в течение нескольких дней.</li>
					</ul>
				</div>
				<div class="shipping-exchange">
					<h3 class="title-sm">Возврат из регионов и из-за рубежа</h3>
					<ul>
						<li>Заполните заявление на возврат — вложено в каждую посылку </li>
						<li>Упакуйте товар в оригинальную упаковку.</li>
						<li>Поместите в почтовую коробку или пакет.</li>
						<li>Отправьте нам любой почтовой службой.<br> <span>Не наложенным платежом.</span></li>
						<li>Сохраните квитанцию об отправке.</li>
						<li>Ждите возврата средств на карту в течение нескольких дней после получения нами товара.</li>
					</ul>
				</div>
			</div>
			<div class="shipping-group">
				<div class="shipping-group__head">
					<h2 class="title shipping-title">Таблица размеров</h2>
					<p class="shipping-desc">С помощью этой таблицы соотношения размеров вы сможете точнее определить подходящий вам размер. Но, разумеется, мы принимаем заказы и по индивидуальным меркам.</p>
				</div>
				<div class="header-drawer__table">
					<div class="header-drawer__table-row">
						<div class="header-drawer__table-col">INT</div>
						<div class="header-drawer__table-col">XS</div>
						<div class="header-drawer__table-col">S</div>
						<div class="header-drawer__table-col">M</div>
						<div class="header-drawer__table-col">L</div>
					</div>
					<div class="header-drawer__table-row">
						<div class="header-drawer__table-col">RU</div>
						<div class="header-drawer__table-col">42</div>
						<div class="header-drawer__table-col">44</div>
						<div class="header-drawer__table-col">46</div>
						<div class="header-drawer__table-col">48</div>
					</div>
					<div class="header-drawer__table-row">
						<div class="header-drawer__table-col">IT</div>
						<div class="header-drawer__table-col">40</div>
						<div class="header-drawer__table-col">42</div>
						<div class="header-drawer__table-col">44</div>
						<div class="header-drawer__table-col">46</div>
					</div>
					<div class="header-drawer__table-row">
						<div class="header-drawer__table-col">EU</div>
						<div class="header-drawer__table-col">38</div>
						<div class="header-drawer__table-col">40</div>
						<div class="header-drawer__table-col">42</div>
						<div class="header-drawer__table-col">44</div>
					</div>
					<div class="header-drawer__table-row">
						<div class="header-drawer__table-col">FR</div>
						<div class="header-drawer__table-col">36</div>
						<div class="header-drawer__table-col">38</div>
						<div class="header-drawer__table-col">40</div>
						<div class="header-drawer__table-col">42</div>
					</div>
					<div class="header-drawer__table-row">
						<div class="header-drawer__table-col">GR</div>
						<div class="header-drawer__table-col">34</div>
						<div class="header-drawer__table-col">36</div>
						<div class="header-drawer__table-col">38</div>
						<div class="header-drawer__table-col">40</div>
					</div>
					<div class="header-drawer__table-row">
						<div class="header-drawer__table-col">UK</div>
						<div class="header-drawer__table-col">8</div>
						<div class="header-drawer__table-col">10</div>
						<div class="header-drawer__table-col">12</div>
						<div class="header-drawer__table-col">14</div>
					</div>
					<div class="header-drawer__table-row">
						<div class="header-drawer__table-col">US</div>
						<div class="header-drawer__table-col">4</div>
						<div class="header-drawer__table-col">6</div>
						<div class="header-drawer__table-col">8</div>
						<div class="header-drawer__table-col">10</div>
					</div>
				</div>
			</div>
		</div>
		<div class="shipping-col">
			<div class="shipping-group">
				<div class="shipping-group__head">
					<h2 class="title shipping-title">Нужна помощь?</h2>
					<p class="shipping-desc">Мы стремимся сделать процесс доставки и возврата максимально простым и удобным для вас.</p>
				</div>
				<div class="shipping-contacts">
					<h3 class="title-sm">Контакты</h3>
					<div class="shipping-contacts__item">
						<p><a href="tel:8 (985) 382-38-25">8 (985) 382-38-25</a></p>
						<span>Ежедневно с 12:00 до 21:00</span>
					</div>
					<div class="shipping-contacts__item">
						<p><a href="mailto:order@yakubowitch.com">order@yakubowitch.com</a></p>
						<span>По всем вопросам</span>
					</div>
					<div class="shipping-contacts__item">
						<p><a href="https://yandex.ru/maps/-/CHX86U7a" target="_blank">Москва, Новинский бульвар, 12</a></p>
						<span>Построить маршрут</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}